# place in /etc/systemd/system

[Unit]
Description=Polybot Patch Service
Wants=network.target
After=syslog.target network-online.target multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/sh /home/polybot/polybotpy/ops/patch.sh
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
